// sass variables
$loading-button-plugin-button-loading-background: #808080 !default;
$loading-button-plugin-button-loading-indicator: #fff !default;


// styling
.btn-buy.btn-loading {
  background-color: $loading-button-plugin-button-loading-background;
  border-color: $loading-button-plugin-button-loading-background;
  display: flex;
  align-content: center;
  justify-content: center;
}

.btn-buy.btn-loading:focus {
  box-shadow: 0 0 0 0.2rem rgba(145, 145, 145, 0.5);
  background-color: $loading-button-plugin-button-loading-background;
}

.btn-buy.btn-loading:focus-visible {
  outline: none;
}

/**
* Loading indicator
*/

// This could be made more responsive to the button size if someone would use it one a styled button from a template
.loader {
  align-self: center;
  margin-right: 10px;
  border: 3px solid #ffffff00;
  border-top: 3px solid $loading-button-plugin-button-loading-indicator;
  border-left: 3px solid $loading-button-plugin-button-loading-indicator;
  border-right: 3px solid $loading-button-plugin-button-loading-indicator;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}